.carousel-item.active{
  margin: 0 0 0 0 !important;
  perspective: 0;
}

.carousel-item{
  margin: 0 0 0 0 !important;
  height: 93vh
}


#first-carousel{
  display: inline-block;
  text-align: -webkit-center;
}


.carousel-item-next{
  position:absolute

}

.align-center-heigh{
  align-self: center;
}

.technologies-background{
  background-image: url('/images/backgrounds/Group160.png');
  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat;
}

.carousel-image-1{
  background-image: url('./carousel_desktop/Slice5.svg');
}

.carousel-image-2{
  background-image: url('./carousel_desktop/Slice6.svg');
}

.carousel-image-3{
  background-image: url('./carousel_desktop/Slice7.svg');
}

.carousel-image-4{
  background-image: url('./carousel_desktop/Slice8.svg');
}

.line-height-1{
  line-height: 1.4 !important;
}


.swal-body{
  background: #bac8d0;
    text-align: center;
  background: #fff;
  white-space: pre-line;
  
}

.swal2-popup{
  border: solid 8px #dc297d !important  
}

.swal2-title{
  color: #6E276B !important;
  font-size: 64px !important;
  font-weight: 800 !important;

}

.swal2-icon {
  color: #6E276B !important;
  border-color: #6E276B !important;

}


.bold-font{
  font-weight: 800;
}

.vertex-logo{
  width: 80%;
  height: 80%;
}


.gradient-text {
  font-size: 36px; 
  font-weight: bold; 
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Gradient effect */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  display: inline-block;
}

.padding-item{
  padding-bottom: 20px  !important;
  
}



.round-image{
  border-radius: 20px;
}



html, body{
  background: #141617 !important;
}

#border-gradient {
  position: relative;
  border: 2px solid transparent;
  border-radius: 20px;
  background-clip: padding-box;
  margin: 0 13%;
  padding: 5% 0 5% 0;
  
  /* Inner border gradient effect */
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 20px;
    padding: 3px;
    background-image: linear-gradient(270deg, rgba(220,41,125,1) 0%, rgba(220,41,125,1) 21%, rgba(108,99,255,1) 71%, rgba(108,99,255,1) 100%);
    mask: 
      linear-gradient(white 0 0) content-box, 
      linear-gradient(white 0 0);
    -webkit-mask: 
      linear-gradient(white, white) content-box, 
      linear-gradient(white, white);
    -webkit-mask-composite: source-out;
            mask-composite: exclude;
  }
}


.text-center{
  text-align: center;
}

.text-align-left{
  text-align: left;
  margin-left: 5% ;
}

.text-padding-top{
  padding: 30px;
}

.font-style{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  
}

.text-vx-color{
  color: #dc297d !important;
}

#mc_embed_signup{
  background: none !important;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100% !important;
}

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
  border-bottom: 1px solid #bac8d0 !important;
  background: #141617 !important;
  color: #fff;
}

#mc_embed_signup input {
  border: 0px solid #ABB0B2 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#mc_embed_signup .helper_text {
  background-color:#141617 !important
  
}

#mc_embed_signup .button{
  background-color: #19004f !important;
}

.get-in-touch-tittle {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.get-in-touch-sub-tittle
{
text-align: center;
  margin-bottom: 50px;
}

.button {
  background: linear-gradient(90deg, rgba(52,18,56,1) 0%, rgba(22,20,51,1) 80%); 
}




* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.picture-100{
  width: 100% !important;
  background-color: #141617;
  
}

* {
  box-sizing: border-box;
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
#slide-1, #slide-2, #slide-3, #slide-4  {
  background-color: #141617 !important;
}


.slides {
  display: flex;
  width: 100%;
  height: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  margin-right: 50px;
  border-radius: 10px;
  background: #141617;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}

.author-info a {
  color: white;
}

#logo{
  width: 37%;
  height: auto;
  padding-top: 0.7%
}


.slider > a {
  display: inline-flex;
  width: 0.7rem;
  height: 0.7rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  background: #dc297d;
  margin-left: 5px;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }

  .slider > a {
    display: none;
  }
  
  .logo-vx{
    width:100%;
    height: auto !important;
    padding-top: 0px;
  }

  

}




@media (min-width: 769px) {

  .svg-diagram {
    background-image: url('/images/synthetic-data-diagram/Diagram_SyntheticData.svg');
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125% 125%;
  }

  .display-block{
  
    white-space: none;
    padding: 4% 0px;
    font-size: 48px ;
    
  
  }

  .sd-driven-ai-pipelines{  
    white-space: pre-line;
    font-size: 24px;
  }

  .container-media{
    margin-top: 40px;
  }

  .container-vx{
    display: flex;
  }

  .logo-vx{
    width:30%;
    height: auto !important;
    padding-top: 0px;
  }

  .main-slides {
    width: 100%;
    height: auto;
  
  }

  .main-slider {
    width: 100%;
    height: auto;
  
  }

  .main-slides > div {
    width: 100%;
    height: auto;
  
  }

  .main-slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
    background: #141617;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .main-slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .main-slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .main-slides::-webkit-scrollbar-track {
    background: transparent;
  }

  .main-slides {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;  
  }  



  .main-slider > a {
    display: inline-flex;
    width: 0.7rem;
    height: 0.7rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    background: #dc297d;
  }

  .footer-section{
    display: flex;
    align-items: center;
  }

  .diagram-section{
    display: flex;
    align-items: center;
  }

  .margin-footer-33{
    margin: 0 17%;
    text-align: -webkit-center;
  }
  #mc_embed_signup{
    font-size: 24px !important;
    font-weight: 800 !important;
  }

  #mc_embed_shell{
    padding: 0px 10% !important;
    font-size: 32px;
  }

  #footer-social-medias{
    display: flex;
    
  }

  #footer-social-medias-inner{
    display: none;
    
  }


}

@media (max-width: 768px) {


  .svg-diagram {
    background-image: url('/images/synthetic-data-diagram/Diagram_SyntheticData.svg');
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125% 125%;
  }

  .display-block{  
    white-space: pre-line;
  }

  #footer-social-medias{
    display: none;
    
  }

  #footer-social-medias-inner{
    display: flex;
    
  }

  .sd-tittle{
    display: block;
  }

  .generative-ai-carousel{
    width: 50%;
    height: auto;
  }

  .retina-logo{

  }

  #carouselExampleFade{
    height:27vh;
    z-index: 0;
  }

  .slides {
    width: 384px;
    height: 216px;
  
  }

  .slider {
    width: 300px;
    height: auto;
  
  }

  .slides > div {
    width: 384px;
    height: 216px;
  
  }

  .main-slides {
    width: 100%;
    height: auto;
  
  }

  .main-slider {
    width: 100%;
    height: auto;
  
  }

  .main-slides > div {
    width: 100%;
    height: auto;
  
  }

  .main-slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
    background: #141617;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .main-slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .main-slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .main-slides::-webkit-scrollbar-track {
    background: transparent;
  }

  .main-slides {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;  
  }  



  .main-slider > a {
    display: inline-flex;
    width: 0.7rem;
    height: 0.7rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    background: #dc297d;
  }

  .text-center-margin{
    margin: 0px 5%;
  }

  .slides > div > #sd2-slide-1 , #sd2-slide-2 , #sd2-slide-3{

    width: 100% !important;
    height: auto;
    margin: 0 10%


  }

  /*third carousel*/
  
  #sd-slider{
    width: 80% !important ;
    height: auto;
    margin: 0 10%
  }

  .sd-slides {
    width: 100%;
    height: auto;
  
  }

  .sd-slider {
    width: 100%;
    height: auto;
  
  }

  .sd-slides > div {
    width: 100%;
    height: auto;
  
  }

  .sd-slides {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  
  }

  .sd-slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
    background: #141617;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .sd-slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .sd-slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .sd-slides::-webkit-scrollbar-track {
    background: transparent;
  }

  .sd-slides {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;  
  }  



  .sd-slider > a {
    display: inline-flex;
    width: 0.7rem;
    height: 0.7rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    background: #dc297d;
  }

  
  .w-100{
    width: 100% !important;
    max-height: 100% !important;
    max-width: 100% !important;
  }

  

}

.logo-contact-us{
  margin: 5px 0px 40px 0px;

}

#mc_embed_signup{
  background: #141617 !important;
}


.social-container {
  margin-top:20px;
  display: flex;
  gap: 30px;
  place-content: center
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px; /* Adjust size as needed */
  height: 45px;
  border-radius: 50%;
  background-color: #FFFFFF; /* White background */
  color: #000000; /* Black icon color */
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.0);
  transition: transform 0.2s, box-shadow 0.2s;
}

.social-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}