.carousel-item.active{
  margin: 0 0 0 0 !important;
  perspective: 0;
}

.carousel-item{
  margin: 0 0 0 0 !important;
  height: 93vh
}


#first-carousel{
  display: inline-block;
}


.carousel-item-next{
  position:absolute

}

.align-center-heigh{
  align-self: center;
}

.technologies-background{
  background-image: url('/images/backgrounds/Group160.png');
  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat;
}

.carousel-image-1{
  background-image: url('./carousel_desktop/Slice5.svg');
}

.carousel-image-2{
  background-image: url('./carousel_desktop/Slice6.svg');
}

.carousel-image-3{
  background-image: url('./carousel_desktop/Slice7.svg');
}

.carousel-image-4{
  background-image: url('./carousel_desktop/Slice8.svg');
}

.line-height-1{
  line-height: 1.4 !important;

}

.gradient-text {
  font-size: 36px; 
  font-weight: bold; 
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Gradient effect */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  display: inline-block;
}

.padding-item{
  padding-bottom: 20px  !important;
  
}

.svg-diagram {
  background-image: url('/images/synthetic-data-diagram/Diagram_SyntheticData.svg');
  width: 100%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125% 125%;
}

.round-image{
  border-radius: 20px;
}

.display-block{
  
  white-space: pre-line;

}

html, body{
  background: #141617 !important;
}

#border-gradient {
  position: relative; 
  border: 2px solid transparent;
  border-radius: 20px;
  background-clip: padding-box;
  padding: 100px 0px ;
  margin: 0 13%;
  padding: 5% 0 5% 0;
  
  
  
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 20px;
    padding: 3px;
    background-image: linear-gradient(270deg, rgba(220,41,125,1) 0%, rgba(220,41,125,1) 21%, rgba(108,99,255,1) 71%, rgba(108,99,255,1) 100%);
    mask: 
      linear-gradient(white 0 0) content-box, 
      linear-gradient(white 0 0);
    -webkit-mask: 
      linear-gradient(white, white) content-box, 
      linear-gradient(white, white);
    -webkit-mask-composite: source-out;
            mask-composite: exclude;
  }
}

.text-center{
  text-align: center;
}

.text-align-left{
  text-align: left;
  margin-left: 5% ;
}

.text-padding-top{
  padding: 30px;
}

.font-style{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  
}

.text-vx-color{
  color: #dc297d;
}

#mc_embed_signup{
  background: none !important;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100% !important;
}

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
  border-bottom: 1px solid #bac8d0 !important;
  background: #141617 !important;
  color: #fff;
}

#mc_embed_signup input {
  border: 0px solid #ABB0B2 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#mc_embed_signup .helper_text {
  background-color:#141617 !important
  
}

#mc_embed_signup .button{
  background-color: #19004f !important;
}

.get-in-touch-tittle {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.get-in-touch-sub-tittle
{
text-align: center;
  margin-bottom: 50px;
}

.button {
  background: linear-gradient(90deg, rgba(52,18,56,1) 0%, rgba(22,20,51,1) 80%); 
}

@media (max-width: 768px) {
  #carouselExampleFade{
    height:27vh;
    z-index: 0;
  }
}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


* {
  box-sizing: border-box;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 384px;
  height: 216px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 384px;
  height: 216px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}

.author-info a {
  color: white;
}


.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(220,41,125,1) 21%, rgba(52,18,56,1) 71%, rgba(52,18,56,1) 100%);
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

