.imagenR{
 background: url(../images/vertex/1.png) no-repeat center center ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}

.blaconegro{
  filter: grayscale(100%);
}


.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(255,255,255,0.55), 0 10px 10px rgba(255,255,255,0.52);
}


.card-2 {
  box-shadow: 0 1px 3px rgba(109, 65, 65, 0), 0 1px 2px rgba(0,0,0,0);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.card-2:hover {
  box-shadow: 0 14px 28px rgba(255,255,255,0.55), 0 10px 10px rgba(255,255,255,0.52);
}

/*-------------------FUENTE DE LA LETRA----------------------------*/

.borde{
   padding-top: 14px;
   padding-bottom: 14px;
}

.imagen{
	height: 100%;
	width: 100%;
}

.letrasR{
  font-family: 'Raleway', sans-serif;
}

.font-weight200{
  font-weight: 200;
}

.font-weight100{
  font-weight: 200;
}

.font-weight900{
  font-weight: 900;
}



/*======================slider========================================*/

/*------------logo---V---------------*/
.logo{
   width: 10%;
}

/*-------------V-----------------*/
.slider1{
	width: 100vh;
	height: 100vh;
}

@media (max-width: 732px){
    
.slider1{
    height: 100vh;
}
}

@media (max-width: 576px){
.slider1{
    height: 100vh;
}
}


@media screen (min-width: 360px) and (orientation: landscape) 
{
  .slider1{
    height: 100vh;
}
}


/*------------------------------*/
.fondoSlider{
	background: rgb(255,255,255);
}

/*------------------------------*/
.imagenSlider{
	width: 80%;
	height: auto;
	padding-top: 30%;
}

@media (max-width: 732px){
    
.imagenSlider{
    width: 80%;
	height: auto;
	padding-top: 50%;
}
}

@media (max-width: 576px){
.imagenSlider{
    width: 80%;
	height: auto;
	padding-top: 50%;

}
}


/*-----------------------------*/


/*================================PARTE 1=================================================*/

/*------------------------------*/
.fondo1{
   
}

@media (max-width: 732px){
    
.fondo1{
  
 }
}

@media (max-width: 576px){
.fondo1{
   background: rgb(33,33,33);
}
}

/*##############GENERAL 1#####################*/
.letras{
	font-size: 33px;

}

@media (max-width: 732px){
    
.letras{
    font-size: 23px;
}
}

@media (max-width: 576px){
.letras{
   font-size: 20px;
}
}

@media (max-width: 360px){
.letras{
   font-size: 15px;
}
}

.padding-top{

}

@media (max-width: 732px){
    
.padding-top{
  
}
}

@media (max-width: 576px){
.padding-top{

}
}

@media (max-width: 375px){
.padding-top{
   padding-top: 60px;
}
}





.letras2{
	font-size: 20px;
}

@media (max-width: 732px){
    
.letras2{
    font-size: 14px;
}
}

@media (max-width: 576px){
.letras2{
   font-size: 14px;
}
}

@media (max-width: 360px){
.letras2{
   font-size: 12px;
}
}



.letras3{
  font-size: 25px;
}

@media (max-width: 1170px){
    
.letras3{
    font-size: 15px;
}
}

@media (max-width: 990px){
    
.letras3{
    font-size: 15px;
}
}

@media (max-width: 732px){
    
.letras3{
    font-size: 15px;
}
}

@media (max-width: 576px){
.letras3{
   font-size: 14px;
}
}

@media (max-width: 360px){
.letras3{
   font-size: 12px;
}
}

.driveColor1{
  color: #888886;
}

.driveColor2{
  color: #fff;
}

.drivePadding{
  padding-top: 20px;
  padding-bottom: 20px;
}

/*##############GENERAL 1#####################*/

/*================================PARTE 2=================================================*/
  
/*------------------------------*/
.fondo2{
   
}

@media (max-width: 732px){
    
.fondo2{
  
 }
}

@media (max-width: 576px){
.fondo2{
   background: rgb(33,33,33);
}
}

/*================================PARTE 3=================================================*/

/*------------------------------*/
.fondo3{
   
}

@media (max-width: 732px){
    
.fondo3{
  
 }
}

@media (max-width: 576px){
.fondo3{
   background: rgb(33,33,33);
}
}
/*================================PARTE 4=================================================*/

/*------------------------------*/
.fondo4{
   background: rgba(98,46,147,0.5);
}

@media (max-width: 732px){
    
.fondo4{
   background: rgba(98,46,147,0.5);
 }
}

@media (max-width: 576px){
.fondo4{
   background: rgba(98,46,147,0.5);
}
}

/*================================PARTE 5=================================================*/

/*------------------------------*/
.fondo5{
   background: rgba(98,46,147,0.5);
}

@media (max-width: 732px){
    
.fondo5{
   background: rgba(98,46,147,0.5);
 }
}

@media (max-width: 576px){
.fondo5{
   background: rgba(98,46,147,0.5);
}
}

/*================================PARTE 6=================================================*/
/*------------------------------*/
.fondo6{
   background: rgba(98,46,147,0.5);
}

@media (max-width: 732px){
    
.fondo6{
   background: rgba(98,46,147,0.5);
 }
}

@media (max-width: 576px){
.fondo6{
   background: rgba(98,46,147,0.5);
}
}

/*================================PARTE 7=================================================*/
/*------------------------------*/
.fondo7{
   
}

@media (max-width: 732px){
    
.fondo7{
  
 }
}

@media (max-width: 576px){
.fondo7{
   background: rgb(33,33,33);
}
}

.ocupando{
	height: 100vh;
}

/*================================PARTE 8=================================================*/
/*------------------------------*/
.fondo8{
   
}

@media (max-width: 732px){
    
.fondo8{
  
 }
}

@media (max-width: 576px){
.fondo8{
   background: rgb(33,33,33);
}
}

/*================================ footer =================================================*/

.fondoF{
   
}

@media (max-width: 732px){
    
.fondoF{
  
 }
}

@media (max-width: 576px){
.fondoF{
   background: rgb(33,33,33);
}
}



  .imagenVFooter{
   
}

@media (max-width: 768px){
    
  .imagenVFooter{
    width: 10%;
  }
}

@media (max-width: 640px){
    
  .imagenVFooter{
    width: 70%;
  }
}

@media (max-width: 576px){
.imagenVFooter{
    width: 70%;
  }
}

.paddingP{
  padding-top: 20px;
  padding-bottom: 20px;

}

